body {
}

.thumbnail {
    margin-top: 10px;
    padding-top: 0px;
}

.center-to-left {
 display: block;
 margin-right: auto;
 margin-left: auto;
 text-align: center;
 }

.center-to-right {
 display: block;
 margin-right: auto;
 margin-left: auto;
 text-align: center;
 }


@media (min-width: 768px) {

.center-to-left {
 text-align: left;
 float: left;
 }

.center-to-right {
 float: right;
 text-align: right;
 }

}

a {
    text-decoration: none;
    color: gray;
}

footer {
   background-color: lightgray;
    padding-top: 20px;
    padding-bottom: 7px;
    margin-top: 20px;
}

h2 {
    border-top: 1px solid lightgray;
    padding-top: 15px;
    padding-bottom: 20px;
}

#zapri {
    margin-top: 20px;
    background-color: lightgray;
}

#modaltext {
    margin-bottom: 20px;
}

